.card-container {
    margin-bottom: 2rem;
}

.carousel-wrapper {
    position: relative;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding: 1rem 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 10;
}

.left-arrow {
    left: 0;
}

.right-arrow {
    right: 0;
}


.movie-card {
    flex: 0 0 auto;
    width: 200px;
    margin-right: 1rem;
}