.home-container {
    padding: 20px;
  }
  
  .carousel-container {
    margin-bottom: 40px;
  }
  
  .carousel-wrapper {
    position: relative;
  }
  
  .carousel {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .carousel-button.left {
    left: 10px;
  }
  
  .carousel-button.right {
    right: 10px;
  }
  
  /* Ajuste o estilo do MovieCard para se adequar ao carrossel */
  .movie-card {
    flex: 0 0 auto;
    width: 200px; /* Ajuste conforme necessário */
    margin-right: 10px;
  }
  
  @media (max-width: 768px) {
    .movie-card {
      width: 150px; /* Menor para telas menores */
    }
  }