@tailwind base;
@tailwind components;
@tailwind utilities;



.active{
  border-bottom: 2px solid white;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}